.app {
    display: flex;
}
.addInput{
    margin:15px;
    padding: 10px;
    height: 180%;
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    color:black ;
    background-color: burlywood;
}
.addToDo{
    border: 2px solid ;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    background-color: darkseagreen;
    font-family: cursive;
}
.title{
    display: flex;
}