.app {
    display: flex;
}
.addInput{
    margin:15px;
    padding: 10px;
    height: 180%;
    width: 25%;
    border: 2px solid #61dafb;
    border-radius: 10px;
    color:#61dafb ;
    display: inline-block;
}